
thead {
    background-color: white;
    border-bottom: 3px solid black;
    padding: 3px;
}

table {
    width: 70%;
    background-color: white;
    text-align: center;
    border: solid black 3px;
    
}

.createButtom{
    position: fixed;
}

.login-cont{
    border: 3px solid green; 
    border-radius: 20px;
    padding: 15px;
}

#header{
    text-align: center;
     padding-top: 30px;
 }
